:root {
  /* background */
  --bg-color-default: transparent;
  --bg-color-selected: #005fb2;

  /* color */
  --color-default: #0070d2;
  --color-selected: #fff;

  /* border-color */
  --bd-c-default: #dddbda;
}
